<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= [current_page.data.title, position.page_title, "TechCorridor.io Jobs, a job board for Iowa's Tech Corridor"].compact.join(' - ') %></title>

    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'bootstrap-theme' %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag 'bootstrap' %>
  </head>

  <body class="<%= page_classes %>">
    <h1>
      <%= link_to 'TechCorridor.io Jobs', '/' %>
    </h1>

    <%= yield %>

    <footer>
      <p>
        <small>
          &copy; 2016 - <%= Date.today.year %> Contributors.
          (Want to help?  Check out <a href="https://github.com/techcorridorio/jobs.techcorridor.io">our repo on GitHub</a> and <a href="https://techcorridorio-slackin.herokuapp.com/">our Slack</a>.)
        </small>
      </p>
    </footer>
  </body>
</html>
