<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= [current_page.data.title, job_engine.position.page_title, "TechCorridor.io Jobs, a job board for Iowa's Tech Corridor"].compact.join(' - ') %></title>

    <%= google_analytics_tag %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag 'bootstrap' %>
  </head>

  <body class="<%= page_classes %>">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- FIXME Add hamburger menu for mobile -->

          <a class="navbar-brand" href="/">jobs.tech<span>corridor</span>.io</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Post a position', job_engine.new_position_url, target: '_blank' %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>

      <footer>
        <p>
          <small>
            &copy; 2016 - <%= Date.today.year %> Contributors.
            (Want to help?  Check out <%= link_to 'our repo on GitHub', config.github_url %> and <a href="https://techcorridorio-slackin.herokuapp.com/">our Slack</a>.)
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>
