<h3>
  <% if position.has_path? %>
    <%= link_to position.title, position.absolute_path %>
  <% else %>
    <%= position.title %>
  <% end %>
</h3>

<p>
  <%= link_to position.company, position.company_url, target: '_blank' %>
  (<%= position.location %>)
</p>

<p>
  <%= position.type %>
</p>

<hr />
